body {
	font-family: 'Vollkorn', serif;
	font-size: 1.2vw;
	background-color: #E8D9B5;
	color: #001e15;
}

.cardtitle {
	font-size: 4vw;
    padding: 0pt;
    margin: 0pt;
}


.card {
	padding: 1vw;
    margin: 1vw;
    min-width: 20%;
    max-width: 30%;
    border: 3px solid #001e15;
    border-radius: 1vw;
}

.pagetitle {
	font-size:1.7vw;
    background-color: #001e15;
    color: #E8D9B5;
    padding: 0.2vw 1vw;
    border-radius: 0.4vw;
}

a  {
	color: #001e15;
}

a.light {
    color: #E8D9B5;
}

main {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 97%;
}


