@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
	font-family: 'Special Elite', cursive;
	font-size: 2.5vw;
	background-color: #151515;
	color: #CCCCCC;
}

.huge {
	font-size:130px;
}


#clock {
	font-size: 24vw;
	padding-top: 5vw;
	padding-bottom: 4vw;
}
#clockhead {
}

#clockfoot {
	font-size: 1vw;
	padding-left: 60%;
}

#notes {
	margin:1vw;
}

td {
	text-align:center;
}
noteswrap {
	display: block;
	position: absolute;
	left: 70%;
	width: 30%;
	padding-top: 3vw;
}

clockwrap {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	top: 2%;
	height: 95%;
	width: 70%;
}



